/* footer css start  */
.footer-area {
    height: auto;
    width: 100%;
    background-color: #1a2848;
    padding-top: 50px;
}

.sethh-ji p {
    color: #00C833;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0.5px;
    display: block;
    cursor: pointer;
    text-transform: uppercase;
}

.office h1 {
    padding-top: 20px;
    color: #00C833;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}

.office p {
    font-size: 18px;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
}

.office span,
.contact-div span {
    color: #c1c4ca;
    font-size: 18.2px;
    letter-spacing: 0.5px;
    font-weight: 100;
}

.office span,
.contact-div span br {
    padding-bottom: 5px;
}

.contact-div {
    padding-top: 20px;
}

.contact-div a,
.mail-add a {
    font-size: 18px;
    font-weight: 100;
    color: #00C833;
    letter-spacing: 1px;
    text-decoration: none;
}

.contact-div a:hover,
.contact-div a:focus,
.contact-div a:active {
    border: none;
    outline: none;
    box-shadow: none;
}

.mail-add {
    padding-top: 20px;
    color: #c1c4ca;
    font-size: 18.2px;
    letter-spacing: 0.5px;
    font-weight: 100;

}

.mail-add a:hover,
.mail-add a:focus,
.mail-add a:active {
    border: none;
    outline: none;
    box-shadow: none;
}

.column1::after {
    content: "";
    position: absolute;
    top: 0;
    right: 65px !important;
    width: .5px;
    height: 100%;
    background: white;
}

.nav-type a {
    color: #00C833;
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    display: block;
    text-decoration: none;
    cursor: pointer;
}

.nav-type a:hover,
.nav-type a:focus,
.nav-type a:active {
    text-decoration: underline;
    border: none;
    outline: none;
    box-shadow: none;
}

.sub-nav-vertical {
    width: 280px;

}

.sub-nav-vertical a {
    color: #c1c4ca;
    font-weight: normal;
    font-size: 17px;
    line-height: 2.5;

}

.fourth-col h6 {
    padding-bottom: 30px;
    color: #00C833;
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    display: block;
    text-decoration: none;
    cursor: pointer;
    text-align: left;
}

.fourth-col a:hover,
.fourth-col a:focus,
.fourth-col a:active {
    text-decoration: underline;
    border: none;
    outline: none;
    box-shadow: none;
}

.logo img {
    margin-top: 30px;
    margin-left: -50px;
    height: 200px;
    width: 270px;
}

.col-lg-4 h6 {
    margin-top: 20px;
}

.fourth-col {
    margin-top: 40px;
    gap: 40px;
}

.social-logo {
    margin-left: 148px;
    margin-top: 50px;

}

.social-logo img {
    height: 48px;
    width: 48px;
    border-radius: 8px;
    margin-left: 5px;
    margin-bottom: 50px;
}

.bottom {
    background-color: #10182E;

}

.b-row {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
}

.copy {
    color: white;
    display: flex;
    font-size: 17px;
    margin-left: -50px;
    letter-spacing: 0.7px;
}

.policy {
    margin-left: 150px;
    gap: 30px;
    display: flex;

}

.policy a {
    font-size: 17px;
    font-weight: normal;
    text-decoration: underline;
    color: #ffffff80 !important;
    display: inline-block;
    white-space: nowrap;
}